* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.img-responsiva {
  width: 100%;
  height: auto;
}

@media (orientation: landscape) {
  .img-responsiva {
      width: auto;
      height: 80vh;
  }
}