* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.menu {
    background-color: #303030;
}

.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.menu li {
    text-align: center;
}

.menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
}

.menu .icon {
    font-size: 24px;
}

.menu .descricao {
    font-size: 14px;
    margin-top: 5px;
}

@media (hover: hover) and (pointer: fine) {
    .menu .descricao {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.2s linear;
    }

    .menu li:hover .descricao {
        visibility: visible;
        opacity: 1;
    }
}

@media (min-width: 600px) {
    .menu ul {
        padding: 15px;
    }

    .menu .icon {
        font-size: 28px;
    }

    .menu .descricao {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .menu {
        width: 100%;
        border-radius: 8px;
    }

    .menu ul {
        padding: 20px;
    }

    .menu .icon {
        font-size: 32px;
    }

    .menu .descricao {
        font-size: 18px;
    }
}