* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

header, footer {
  background-color: #414141;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

main {
  padding: 1rem;
}

ul {
  padding-left: 20px;
}

li {
  margin: 0.5rem 0;
  list-style: none;
}

@media print {
  .resposta {
      display: none;
  }
}

@media (min-width: 768px) {
  main {
      max-width: 600px;
  }
}

@media (min-width: 1024px) {
  main {
      max-width: 800px;
  }
}