* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.responsive-image {
  width: 100vw;
  height: auto;
  padding: 20px;
}

.text-content {
  margin-top: 20px;
}

.container p {
  padding: 20px;
}

.text-content p {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }

  .responsive-image {
    width: 50%;
   
  }

  .text-content {
    margin-top: 0;
    width: 50%;
  }
}